<main>
        <!-- shape Hero -->
    <div class="position-relative">
        <!-- shape Hero -->
            <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="btn-wrapper">
                            <button class="btn btn-success  btn-icon mb-3 mb-sm-0" (click)="navigate()">
                                <span class="btn-inner--icon"><i class="fa fa-plus-square"></i></span>
                                <span class="btn-inner--text">Crear Producto</span>
                            </button>     
                        </div>
                    </div>
                    </div>
                </div>
            </div>
                
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            </section>
        <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <table #dataTable id="dataTable" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>_id</th>
                                        <th>Titulo</th>
                                        <th>Descripción</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th></th>
                                     
                                        
                                       
                                    </tr>
                                </thead>
                                <!-- <tbody>
                                    <tr *ngFor="let product of products">
                                        <td>{{product.title}}</td>
                                        <td>{{product.description}}</td>
                                        <td>{{product.price}}</td>
                                    </tr>
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

    </section>
</main>